<footer>
	<div class="box">
	<div class="one">
  <h2>Quick Links</h2>

								<p><a href="/">Home</a></p>
								<p><a href="/about-us">About Us</a></p>
								<p><a href="/contact-us">Contact Us</a></p>
								<p><a href="/our-partners">Our Partners</a></p>

  </div>

  <div class="two">
	<h2>Our Products</h2>

								<p><a href="/networking-infrastructure-and-security">Networking Infrastructure & Security Solutions</a></p>
								<p><a href="/voice-solutions">Voice Solutions</a></p>
								<p><a href="/av-integration-and-boardroom-solutions">AV Integration & Boardroom Solutions</a></p>
								<p><a href="/wireless-solutions">Wireless Solutions</a></p>


  </div>

  <div class="three">

	<h2>Our Services</h2>

<p>Networking Solutions</p>
<p>Audio Video Solutions</p>
<p>Voice Solutions</p>
<p>Wireless Solutions</p>
<p>Network Security Solutions</p>
<p>Laptops Workstations Solutions</p>



  </div>

  <div class="four">
	<h2><strong>Asian Global Solution</strong></h2>

								<p>S-11, (Basement), Style Plaza,<br> Jharsa Road,Sector-15, Part-I<br>Gurugram-122001, Haryana (India)<br>
</p>

							<p><strong>Mobile:</strong> 8168901832, 9818958822</p>
							<p><strong>Phone:</strong> +91 - 124 4278999</p>
							<p><strong></strong> <a href="mailto:sales@asianglobalsolution.in">sales@asianglobalsolution.in</a></p>
							<p><strong></strong> <a href="http://www.asianglobalsolution.in">asianglobalsolution.in</a></p>
  </div>
	</div>
	  <div class="creators"><strong><div class="copyright">
  Copyright © 2019 Asian Global Solution. All rights reserved.</div>Designed by Akshat/Shubham</strong></div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>