<footer id="footer"><!--Footer-->

	<div class="footer-top">
			<div class="container">
				<div class="row">

					<marquee><div class="col-sm-12">

									<div class="iframe-marquee-img">
									<img src="/images/brocade-ruckus-wireless.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/cisco.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/cp-plus.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/cyberoam.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/dahua.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/dell-sonicwall.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/d-link.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/engenius.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/fortinet.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/grandstream.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/hik-vision.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/aruba-network.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/macfee.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/microsoft.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/ncomputing.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/netgear.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/panasonic.jpg" alt="" />&nbsp;&nbsp;
									<img src="/images/polycom.jpg" alt="" />&nbsp;&nbsp;
									</div>
						</div></marquee>

				</div>
			</div>
		</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>AsianGlobal<br>Solution.in</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="index.html">Home</a></li>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="contact-us.html">Contact Us</a></li>
								<li><a href="enquiry.html">Enquiry</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Our Products</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="networking-infrastructure-and-security.html">Networking Infrastructure & security</a></li>
								<li><a href="voice-solutions.html">Voice solutions</a></li>
								<li><a href="av-integration-and-boardroom-solutions.html">AV Integration & Boardroom Solutions</a></li>
								<li><a href="wireless-solutions.html">Wireless Solutions</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Our Services</h2>
							<ul class="nav nav-pills nav-stacked">
<li>Networking Solutions</li>
<li>Audio Video Solutions</li>
<li>Voice Solutions</li>
<li>Wireless Solutions</li>
<li>Network Security Solutions</li>
<li>Laptops Workstations Solutions</li>

							</ul>
						</div>
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2><strong><a href"#">AsianGlobalSolution.in</a></strong></h2>

								<p>S-11, (Basement), Style Plaza, Jharsa Road, Sector-15, Part-I, Gurugram-122001, Haryana (India)<br>
</p>

							<p><strong>Mobile:</strong> 8168901832, 9818958822</p>
							<p><strong>Phone:</strong> +91 - 124 4278999</p>
							<p><strong>Email:</strong> <a href="mailt:sales@asianglobalsolution.in">sales@asianglobalsolution.in</a></p>
							<p><strong>Website:</strong> <a href="http://www.asianglobalsolution.in">asianglobalsolution.in</a></p>

						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2017 asianglobalsolutions.in. All rights reserved.</p>
					<p class="pull-right">Designed by Akshat/Shubham</p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->

    <script src="/js/assets/jquery.js"></script>
	<script src="/js/assets/bootstrap.min.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/price-range.js"></script>
    <script src="js/assets/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
